{% extends "parent.html" %}


{% block contenido %}
<div class="d-flex align-items-center flex-column">
    <h2> Modelo SIR</h2>

    <p>En el modelo SI los individuos nacen siendo susceptibles a una enfermedad, y una vez infectados permanecen infectados el resto de su vida.</p>
    <p>El modelo se ajusta a las ecuaciones:</p>
    $$S'(t) = -\dfrac{\alpha}{N}SI$$
    $$I'(t) = I\left(\dfrac{\alpha}{N}S-\gamma \right)$$
    $$R'(t) = \gamma I$$

    <p>donde $S(t)$ indica el número de individuos susceptibles en el instante $t$, así como $I(t)$ el número de infectados en ese mismo instante.</p>
    <p>Se supone como condición inicial $S(0)+I(0)=N$.</p>

    <p>En estas ecuaciones, de nuevo tenemos que $\alpha$ es la tasa de contacto, esto es, el número medio de individuos con los que un infectado tiene suficiente contacto para contagiarlo en un intervalo de tiempo, y $\gamma$ es la probabilidad de que un infectado pase a recuperado/retirado/aislado/fallecido en un intervalo de tiempo, con $\alpha >0$ y $\gamma >0$.</p>

    <p>Las siguientes gráficas representan como varían el número de individuos susceptibles o infectados según el tiempo (primera gráfica), mientras en la segunda gráfica se observa como varían los individuos infectados e individuos susceptibles en una gráfica implícita del tiempo.</p>

    <p>Se puede observar en ambas gráficas como, para cualquier valor del parámetro $\alpha$, a mayor número de susceptibles menor número de infectados y viceversa.</p>

    <p>A continuación una representación gráfica del comportamiento del modelo según los parámetros introducidos</p>
    
    <iframe src="http://localhost:8050/apps/modeloSIR_continuo" width=100% height=700px></iframe>
</div>
{% endblock %}
