{% extends "parent.html" %}


{% block contenido %}
<div class="d-flex align-items-center flex-column">
    <h2> Introducción a modelos epidemiológicos y ajuste de datos </h2>

    <img src="static/logo.png" alt="Logo de la página" class="rounded-circle me-2">

    <p>Con el fin de mprender el desarrollo y evolución de diversas enfermedades, existen distintos modelos que tratan de predecir o ajustar el comportamiento de diversas enfermedades.</p>

    <p>Durante años, se han realizado modificaciones de los modelos existentes y creado variaciones nuevas, para ajustarse mejor a cada enfermedad. Pese a esto, todos los modelos parten de los mismos modelos fundamentales que se presetan en esta página.</p> 

    <p>En esta página se pretende dar una breve introducción a los modelos esenciales de epidemiología, (como los modelos SI, SIR y SIS discretos) de forma interactiva y visual, explicando brevemente los modelos teóricos. </p>
    
    <p>Del mismo modo, se pretende realizar un ajuste sencillo de parámetros respecto a los modelos presentados con datos reales.</p>
    

    

</div>


{% endblock %}
