{% extends "parent.html" %}


{% block contenido %}
<div class="d-flex align-items-center flex-column">
    <h2> Introducción a modelos epidemiológicos y ajuste de datos </h2>

    <img src="static/logo.png" alt="Logo de la página" class="rounded-circle me-2">

    <p>En esta página se pretende dar una breve introducción a los modelos básicos de epidemiología, (como el SI, SIR y SIS) de forma interactiva y visual. </p>
    <p>Del mismo modo, se pretende realizar un ajuste sencillo de parámetros respecto a los modelos presentados de datos reales.</p>

    

</div>


{% endblock %}
