{% extends "parent.html" %}


{% block contenido %}
<div class="d-flex align-items-center flex-column">
    <h2> Notación </h2>

    <h4>Posibles estados de un individuo</h4>
    <ul>
        <li> Susceptible: son aquellos individups que pueden infectarse con la enfermedad pero aún no lo han hecho en el momento n. Se representan por $S_n$</li>
        <li> Infectado: personas infectadas en el instante n por la enfermedad y pueden contagiar la enfermedad a los individuos susceptibles. Se denotan por $I_n$</li>
        <li> Recuperado: individuos que han estado infectados y ya no contagian la enfermedad ni pueden volver a infectarse. Los individuos recuperados hacen referencia a los individuos inmunizados, aislados, recuperados o fallecidos. Se representan por $R_n$</li>
    </ul>

    <h4>Propiedades de la población</h4>
    <ul>
        <li>Tamaño de la población: Se denomina al tamaño de la población N. Se supone que es constante, es decir, no varía en el tiempo.</li>
        <li>Condiciones iniciales: Fijan el estado inicial de la población, suelen ahcer referencia a varios aspectos:
            <ul>
                <li>Número inicial de individuos susceptibles: Se denomina $S_0$.</li>
                <li>Número inicial de individuos infectados: Se denomina $I_0$.</li>
                <li>Número inicial de individuos recuperados: Se denomina $R_0$.</li>
            </ul>
            Se debe cumplir siempre que $S_0+I_0+R_0=N$.
        </li>
    </ul>

    <h4>Parámetros</h4>
    <ul>
        <li>$\alpha$: Tasa de contacto, esto es, el número medio de individuos con los que un infectado tiene suficiente contacto para contagiarlo en un intervalo de tiempo. Se supone que $\alpha > 0$.</li>
        <lI>$\gamma$: Probabilidad de que un infectado pase a recuperado/retirado/aislado/fallecido en un intervalo de tiempo. Se supone $\gamma >0$.</p></lI>
    </ul>


</div>


{% endblock %}
